.homepage{
        min-height: 100vh;
    background-image: url('/assets/landingPageBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-button{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(236, 168, 21);
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     font-size: 14px;
     letter-spacing: 1px; 
      border-radius:30px;
      color:white;
}