<nav class="sidebar">
    <ul>
        <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li><a routerLink="/Departments" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Departments</a></li>
        <li><a routerLink="/Employees" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Employees</a></li>
        <li><a routerLink="/Settings" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Settings</a></li>
    </ul>

    
    
</nav>