<div class="form-container">
    <h1 class="login-heading">Sign In | Admin</h1>
    <form>
        <div class="input-fields">
            <label for="email-id">USERNAME</label>
            <input type="email" id="email-id" placeholder="Email"/>
            <label for="password-id">PASSWORD</label>
            <input type="password" id="password-id" placeholder="Password"/>
            <span class="forgot-password"><a href="#">Forgot password?</a></span>
            <button type="submit">SIGN IN</button>
        </div>
        

    </form>
</div>
