.form-container{
    width:30%;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(8px);
    height:500px;
    padding:20px;
    
    
    
}

.login-heading{
    text-align:center;
     font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}

.input-fields{
    display:flex;
    flex-direction:column;
    gap:20px;
    margin:20px auto;
    width:70%;
   
}

input{
    padding:7px;
    font-size:14px;
    height:50px;
    outline:none;
}
.input-fields{
    margin-top:30px;
}
.input-fields button{
    padding:15px;
    background-color:rgb(236, 168, 21);
    border:none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     font-size: 14px;
     letter-spacing: 1px; 
}

.forgot-password a{
    color:royalblue ;        
    text-decoration: none;

}

.input-fields label{
   font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

hr{
    width:70%;
    margin:20px auto;
    border:none;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.login-page {
    min-height: 100vh;
    background-image: url('/assets/loginPageBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top:190px;
    padding-left:190px;
    
   
}
