
<div class="login-page">
    <div class="form-container">
    <h1 class="login-heading">Sign In | Admin</h1>
    <hr/>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-fields">
            <div class="input-wrapper">
                <i class="fa fa-user input-icon"></i>
                <input type="email" formControlName="email" #emailInput placeholder="Email" [value] = 'emailInput.value' />
            </div>
            
            <div class="input-wrapper">
                <i class="fa fa-lock input-icon"></i>
                <input type="password" formControlName="password" #passwordInput placeholder="Password" [value] = 'passwordInput.value' />
            </div>
            <span class="forgot-password"><a href="#">Forgot password?</a></span>
            <button>Login</button>    
            @if ((loginForm.get('email')?.invalid && loginForm.get('email')?.touched) || (loginForm.get('password')?.invalid && loginForm.get('password')?.touched)) {
                <div class ="error">Password or email is invalid</div>
            }
        </div>
    </form>
</div>
</div>

